@mixin modal-shadow {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000002;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin modal-window ($width) {
  background-color: #FFF;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  width: $width;
}
